{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
  .search_none{
    color: var(--rd);
    align-text: center;
    margin-top: 0px;
    margin-left: 10%;
    font-size: 32px;
  }
  .search_none b{
    color: white;
    font-weight: bold;
  }
</style>
<section>
    <div class="contain-sec" id="contain-sec4">
      {% if query|length < 1 %}
      <p class="search_none" style="margin-top: 100px;">We dont any book list in <b>{{result}}</b> category currently.<span> :(</span><p>
      {% endif %}
      {% for film in query %}
      <div class="elements">
        <div class="thumb">
          <img src="{% static 'app/images/book-poster.jpg' %}" width="100px" />
        </div>
        {% if film.spoiler == True %}
          <div class="spoiler"><img src="{% static 'app/images/spoilerr.png' %}" width="100px" /></div>
        {% endif %}
        <div class="Title">
          <a href="{% url 'app:booklist_detail' film.slug %}"><h4 class="tit"  id="tit">{{film.title}}</h4></a>
          {% if user.id == film.creator.id %}
          <a href="{% url 'app:delete_book' film.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
          <a href="{% url 'app:update_booklist' film.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
          {% else %}
          <img src ="{% static 'app/images/delete-dis.png' %}">
          <img src ="{% static 'app/images/edit-dis.png' %}">
          {% endif %}
        </div>
        <style>
          .Title img{
            height: 14px;
          }
        </style>
        <div class="Author">
          <small>Author : {{film.creator.username}}<span>{{film.posted}}</span></small>
        </div>
        <div class="rating">
          <span class="star-headline">
            <span class="fa fa-star {% if film.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 2 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if film.average_rating > 4 %} checked {% endif %}"></span>
          </span>
          <small> - {{film.count_rating}} users .<img class="comments_count" src="{% static 'app/images/comments.png' %}">{{film.count_comments}}</small>
        
        </div>
        
          {% for tag in film.genre.all %}
          <div class="Genre">
            <a href="{% url 'app:book' query=tag %}">
              <small>{{ tag }}</small>
            </a>
          </div>
            {% empty %} 
            No tags! 
          {% endfor %}
      </div>
      {% endfor %}
    </div>

  </section>
  
{% endblock content %}