<style>
    .comment-form-cont{
        background: red;
        height: 100vh;
        width: 100vw;
    }
    .create_comme{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        {% comment %} background-color: red; {% endcomment %}
        width: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
    }
    .create_comme label,.create_comme textarea,.create_comme input, .create_comme select{
        margin: 12px;
    }
    .create_comme form textarea{
        display: absolute;
        right: 0;
    }
    .create_comme form input{
        display: absolute;
        right: 0;
    }
    .comment-kor select{
        display: none;
    }
    .comment-kor .comment-stars{
        padding: 18px 0px;
        cursor: pointer;
    }
    .comment-kor input{
        display: none;
    }
</style>

<div class="comment-kor-cont">
<form class = "comment-kor" method="POST" action="{% url 'app:create_comment' %}" enctype="multipart/form-data">
    {% csrf_token %}
<p>
    {% comment %} <label for="id_user">User:</label> {% endcomment %}
    <select name="user" required="" id="id_user">
        <option value="{{user.pk}}" selected=""></option>
      </select>
</p>
<p>
    <select name="List" required="" id="id_List">
        <option value="{{list.pk}}" selected=""></option>
      </select>
</p>
<p>
    <textarea name="comment" cols="40" rows="10" maxlength="250" required="" id="id_comment" placeholder="comment"></textarea>
</p>

{% comment %} <div class="comment-stars">
    <span class="stars-post-comments">
        <span class="fa fa-star" id="st1"></span>
        <span class="fa fa-star" id="st2"></span>
        <span class="fa fa-star" id="st3"></span>
        <span class="fa fa-star" id="st4"></span>
        <span class="fa fa-star" id="st5"></span>
        </span>
</div>
<input type="number" name="rate" value="0" required="" id="id_rate" placeholder="Rating"> {% endcomment %}
<div><button type="submit">Post</button></div>
</form>
</div>
    