{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
    .guidelines{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: red;
    }
    .guidelines h1{
        color: white;
    }
    </style>
    <div class="guidelines">
    <h1>guidelines</h1>
    <h1>yet to be edited</h1>
    </div>

{% endblock content %}
