{% extends "index.html" %} {% load static %} {% block content %} {% comment %}
<link rel="stylesheet" href="../css/list_detail.css" /> {% endcomment %}

<section class="list_detail" id="list-det-id">
  <div class="detail_header" id="detailheader">
  <h3>{{musiclist.title}}</h3>
  <div class="average-rating">
    <span class="stars-post-comments">
        <span class="fa fa-star {% if musiclist.average_rating > 0 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if musiclist.average_rating > 1 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if musiclist.average_rating > 2 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if musiclist.average_rating > 3 %} checked {% endif %}" ></span>
        <span class="fa fa-star {% if musiclist.average_rating > 4 %} checked {% endif %}"></span>
    </span>
    </div>
    <br>
  <div class="detail-up-del">
    {% if user.id == musiclist.creator.id %}
    <a href="{% url 'app:delete_music' musiclist.slug %}"
      ><img src="{% static 'app/images/delete.png' %}"
    /></a>
    <a href="{% url 'app:update_musiclist' musiclist.slug %}"
      ><img src="{% static 'app/images/edit.png' %}"
    /></a>
    {% else %}
    <img src="{% static 'app/images/delete-dis.png' %}" />
    <img src="{% static 'app/images/edit-dis.png' %}" />
    {% endif %}
  </div>
  <small>Author : {{musiclist.creator.username}}</small><br />
  <small>Date : {{musiclist.posted}}</small><br />
  <div class="genre_wrap">
    {% for tag in musiclist.genre.all %}
    <div class="Genre">
      <a href="{% url 'app:music' query=tag %}">
        <small>{{ tag }}</small>
      </a>
    </div>
    {% empty %} No tags! {% endfor %}
  </div>
  </div>
  <div class="blog_post_body">{{musiclist.content|safe}}</div>
  <form class="ratings"></form>
  <div class="commentss" id="comments-id">
        
    <div class = "commentscarrier">
        {% comment %} <div class="comment-contentsas comment-head"><p>Comments(3)</p></div>
        <hr> {% endcomment %}
        {% include "app/musiclist_comment.html" %}
    </div>
    <div class = "postcommentscarrier">
        <div><h1>Write your review</h1></div>
        {% if user.is_authenticated %}
        <br>
        {% include 'app/create_musiccomment.html' %}
        <br>
        {% include 'app/create_musicstarr.html' %}
    {% else %}
    <div class="comment-kor-cont">
        <br>
        <hr>
        <br><br>
        <div class="login-to-comment">Please <a style="color : red;" href="{% url 'login' %}">login</a> to post reviews</div>
    </div>
    {% endif %}
    </div>
    
    


</div>   
<div class="gap">
</div> 
</section>

{% endblock content %}
