{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
  .search_none{
    color: var(--rd);
    align-text: center;
    margin-top: 100px;
    margin-left: 10%;
    font-size: 32px;
  }
  .search_none b{
    color: white;
    font-weight: bold;
  }
</style>
<section>
    <div class="contain-sec" id="contain-sec6">
      {% if query|length < 1 %}
      <p class="search_none" style="margin-top: 100px;">We dont have any music list in <b>{{result}}</b> category currently.<span> :(</span><p>
      {% endif %}
      {% for film in query %}
      <div class="elements">
        <div class="thumb">
          <img src="{% static 'app/images/music-poster.jpg' %}" width="100px" />
        </div>
        <div class="Title">
          <a href="{% url 'app:musiclist_detail' film.slug %}"><h4 class="tit">{{film.title}}</h4></a>
          {% if user.id == film.creator.id %}
          <a href="{% url 'app:delete_music' film.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
          <a href="{% url 'app:update_musiclist' film.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
          {% else %}
          <img src ="{% static 'app/images/delete-dis.png' %}">
          <img src ="{% static 'app/images/edit-dis.png' %}">
          {% endif %}
        </div>
        <style>
          .Title img{
            height: 14px;
          }
        </style>
        <div class="Author">
          <small>Author : {{film.creator.username}}<span>{{film.posted}}</span></small>
        </div>
        <div class="rating">
          <span class="star-headline">
            <span class="fa fa-star {% if film.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 2 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if film.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if film.average_rating > 4 %} checked {% endif %}"></span>
          </span>
          <small> - {{film.count_rating}} users .<img class="comments_count" src="{% static 'app/images/comments.png' %}">{{film.count_comments}}</small>
        </div>
        
          {% for tag in film.genre.all %}
          <div class="Genre">
            <a href="{% url 'app:music' query=tag %}">
              <small>{{ tag }}</small>
            </a>
          </div>
            {% empty %} 
            No tags! 
          {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% comment %} <div class="pagination_pages">
      <span class="step-links">
          <span class="current">
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div> {% endcomment %}
  </section>
  
{% endblock content %}