@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

::-webkit-scrollbar {
    width: 6px;
    background: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #161616; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #424242; 
  }
:root {
    --rd: #D10000;
    --white: rgb(233, 233, 233);
    --rd2: #9DAAF2;
    --dark: #1d1d1d;
    --teal: rgb(0, 109, 94);
  }
button{
    cursor: pointer;
}
*{
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
*:focus{
    outline: 0;
    outline: none;
}
button{
    /* box-shadow: 2px 2px 2px #0000004b; */
    filter: drop-shadow(2px 2px 2px #0000004b);
}

body{
    -webkit-tap-highlight-color: transparent;
    /* background-color: #1d1d1d;  */
    /* background-color: #CAECCF; */
    background-color: #fff5d1ab;
    text-decoration: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;

}
.body-dark-mode{
    background-color: var(--dark);
}
.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 52px;
    bottom: 38px;
    left: 0;
    right: 0;
    box-shadow: 0px -2px 4px #00000090;
    
    z-index: 10;
    background-color: var(--teal);
}
.nav-dark-mode{
    background-color: rgb(20, 20, 20);
}
.list_detail{
    padding-top: 0px!important;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
}

.menu-btn {
    position: absolute;
    right: 6px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: max-content;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: auto 0;
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    width: 10px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 250ms ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /* box-shadow: 0 2px 5px rgba(255, 101, 47, .2); */
    transition: all 250ms ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-7px);
    background-color: rgb(0, 187, 162);
}

.menu-btn__burger::after {
    transform: translateY(7px);
    background-color: rgb(0, 187, 162);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: var(--rd);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: var(--rd);
}

.submenu{
    display: none;
    position: fixed;
    height: max-content;
    left: 0;
    right: 0;
    /* background-color: black; */
    margin-top: 0px;
    z-index: 9;
}


.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 120px;
    margin: 2px 12px;
    
}

.nav-menu-list{
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 16px;
}
.nav-main-op{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
}
.nav-main-op ul{
    text-decoration: none;
}
.nav-main-op a {
    margin: 0 12px;
    text-decoration: none;
    color: #FFFFFF96;
    font-size: 16px;
    transition: all 250ms ease-in-out;
}
.nav-main-op a:hover {
    color:var(--rd);
}
.nav-main-op li {
    font-size: 18px;
    list-style: none;
    margin: 8px auto;
    color: #FFFFFF96;
    cursor: pointer;
}

.nav-movie-expand img, .nav-music-expand img, .nav-book-expand img{
    width: 10px;
    transform: rotate(180deg);
}
.movie-expand img, .music-expand img, .book-expand img{
    width: 10px;
    margin-left: 18px;
}

/* nav sub menu */
.nav-sub-menu-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    background-color: #D10000;
    width: 300px;
    height: max-content;
    position: fixed;
    bottom: 90px;
    right: 28px;
    z-index: 100;
}
.nav-sub-menu-container .movie, .nav-sub-menu-container .music, .nav-sub-menu-container .book{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    margin-right: 4px;
    height: max-content;
    background-color: #004055;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    position: fixed;
}
.nav-menu-dark-mode{
    background-color: var(--dark);
}
.nav-sub-menu-container .movie a, .nav-sub-menu-container .music a, .nav-sub-menu-container .book a{
    text-decoration: none;
    color: white;
    margin: 6px 0;
    display: inline-block;
    padding: 0 12px;
    transition: all 200ms ease-in-out;
}
.nav-sub-menu-container .movie a:hover, .nav-sub-menu-container .music a:hover, .nav-sub-menu-container .book a:hover{
    color: rgb(48, 48, 48);
}

.nav-sub-menu-container .movie{
    display: none;
    margin-left: 40px;
}
.nav-sub-menu-container .music{
    display: none;
    margin-left: 145px;

}
.nav-sub-menu-container .book{
    display: none;
    margin-left: 220px;

}

/* .nav-sub-menu-container .movie .movie-nav-more, .nav-sub-menu-container .music .music-nav-more, .nav-sub-menu-container .book .book-nav-more{
    position: absolute;
} */




/* doc */
@keyframes slideup{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
  }
  @keyframes slidedown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
  }
.doc-bar{
    /* animation: 250ms ease-out 0s 1 slideup; */
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* border-top: 1px solid var(--rd); */
    /* border-top: 1px solid #d100003a; */
    justify-content: space-between;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.637); */
    /* background: rgb(20, 20, 20); */
    background-color: rgb(0, 109, 94);
    z-index: 12;
}
.doc-bar-dark-mode{
    background-color: rgb(20, 20, 20);
}


.doc-stuff-left{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    padding: 3px 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}
.add-list{
    height: max-content;
}
.add-list img{
    height: 32px;
    width: auto;
    cursor: pointer;
}
.dark-light-mode{
    margin-left: 4px;
    height: max-content;
}
.dark-light-mode img{
    height: 22px;
    width: auto;
    cursor: pointer;
}

.user-doc-logo{
    height: max-content;
    margin-left: 2px;
}
.user-doc-logo img{
    height: 24px;
    width: auto;
    cursor: pointer;
}
.doc-stuff-center{
    width: max-content;
    display: flex;
    /* margin: auto; */
    justify-content: center;
}



/* toggle darkmode */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    bottom: 2px;
    left: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(138, 255, 239, 0.315);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 0px;
    background-color: #e5f3a7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(32, 32, 32);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(32, 32, 32);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(12px);
    background-color: #c8b9f5;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.doc-stuff-center img{
    height: 22px;
}
/* .doc-stuff-center img:hover{
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.192));
} */
.doc-stuff-right{
    justify-content: end;
    display: flex;
    width: 100px;
    position: relative;
    margin-right: 6px;
}
.doc-stuff-right button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.doc-stuff-right img{
    height: 22px;
    width: 22px
}
.doc-stuff-right .com-chat{
    margin-right: 8px;
}


.login-sub-menu{
    display: block;
    height: max-content;
    width: max-content;
    position: fixed;
    bottom: 42px;
    left: -200px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    z-index: 11;
    padding: 0px 2px;
    padding-right: 22px;
    background-color: var(--teal);
}
.login-sub-menu-dark-mode{
    background-color: rgb(19, 19, 19);
}
.login-sub-menu li{
    margin: 12px 0;
}

.login-sub-menu a{
    text-decoration: none;
    font-size: 18px;
    width: 20px;
    border-radius: 0px;
    padding: 4px 6px;
    /* background-color: #121212; */
    margin: 6px 0;
    color: rgb(216, 216, 216);
    transition: all 250ms ease-in-out;
}
.login-sub-menu a:hover{
    color: rgb(46, 46, 46);
}
.login-sub-menu ul{
    list-style: none;
    
}
.username_inlogin{
    font-size: 16px!important;
    cursor: pointer;
}
.edit{
    font-size: 12px!important;
}
li a .logout_sub{
    position: absolute;
    height: 18px;
    bottom: 14px;
    /* background-color: #121212; */
    right: 6px;
}
li a .login_sub{
    position: absolute;
    transform: rotate(180deg);
    bottom: 61px;
    height: 18px;
    right: 3px;
    /* background-color: #121212; */
}



/* addlist submenu */
.add-list-sub-menu{
    display: block;
    height: max-content;
    width: max-content;
    background-color: var(--teal);
    border: 1px solid rgba(255, 255, 255, 0.301);
    position: fixed;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 40px;
    left: -65px;
    padding: 10px 10px;
    padding-bottom: 0px;
    z-index: 11;
}
.add-list-sub-menu-dark-mode{
    background-color: rgb(19, 19, 19);
}


.add-list-sub-menu-options img{
    width: 24px;
    margin-bottom: 12px;
}

/* scrolltop */

#myBtn {
    display: none;
    position: fixed;
    z-index: 99;
    border: none;
    height: 0px;
    width: 0px;
    outline: none;
    cursor: pointer;
  }
#myBtn img{
    height: 40px;
    width: 40px;
    position: fixed;
    right: 6px;
    bottom: 96px;
    filter: drop-shadow(0px 2px 2px black);
}
.list_type_choose_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    height: 100vh;
    width: 100%;
    padding: 200px 0;
}
.list_type_choose_button a{
    color: white;
    background-color: var(--rd);
    padding: 10px 24px;
    margin: 8px 0;
    border-radius: 2px;
    transition: all 100ms ease-in-out;
}
.list_type_choose_button a:hover{
    background-color: #121212;
}
.poster{
    position: relative;
    padding-top: 0px;
    width: max-content;
    max-width: 100%;
}
.poster img{
    width: 100vw;
    max-width: 100%;
}
.fout{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 100vw;
    max-width: 100%;
    /* background-color: rgb(20 20 20); */
    background-color: rgb(0, 109, 94);
    bottom: 0;
    z-index: 8;
    padding-top: 50px;
    border-top: 1px solid rgba(172, 255, 47, 0.089);
    box-shadow: 0px -1px 3px #00000090;
    justify-self: end;
    padding-bottom: 120px;
}
.fout-dark-mode{
    background-color: rgb(20 20 20);
}
.fout .foot-options a{
    font-size: 18px;
    padding: 8px 6px;
    color: whitesmoke;
    cursor: pointer!important;
    transition: all 250ms ease-in-out;
}
.fout .foot-options a:hover{
    color: greenyellow;

}
.foot-copy small{
    color: rgb(161, 161, 161);
}
.foot-copy{
    padding-top: 20px;
}

/* update delete icon size */
.detail-up-del img{
    height: 18px!important;
}
.Title img{
    height: 18px!important;
}
.login-sub-menu-options hr{
    border: 0.01rem solid #ffffff0d;
    width: 130%;
}

.search_none{
    padding: 20px 20px;
}


/* detail page css */

@keyframes slideIn{
    0%{
        transform: translateX(-100%);
        -webkit-filter: blur(6px);
    }
    100%{
        transform: translateX(0);
        -webkit-filter: blur(0);
    }
  }
    

.detail_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    background-color: rgb(0, 109, 94);
    box-shadow: 0px 2px 3px grey;
    color: rgb(255, 246, 246);
}
.detail_header_dark{
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 2px 3px black;
}
.list_detail{
    display: flex;
    flex-direction: column;
    animation: 250ms ease-in-out 0s 1 slideIn;
    padding-top: 80px;
    color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
}
.list_detail_dark_mode{
    color: white;
}
.detail-up-del{
    padding: 0px 0px;
    margin-top: 6px;
    margin-bottom: 8px;
}
.detail-up-del img{
    height: 14px;
}

.list_detail h3{
    font-family: aktiv-grotesk-condensed-xbold,Arial,sans-serif;
    /* text-align: center; */
    font-size: 26px;
    padding: 0px 28px;
    padding-top: 20px;
    font-weight: bold;
}
.average-rating{
    margin-left: -86px;
    padding: 0px 28px;
    margin-top: 7px;
    background-color: #004055;
}
.list_detail small{
    padding: 0px 0px;
    margin: -8px 0;
}
.genre_wrap{
    margin-left: 0px;
}
.Genre small{
    padding: 0 0;
    margin-right: 2px;
}
.blog_post_body{
    padding-top: 12px;
    padding-bottom: 100px;
    padding-left: 26px;
    padding-right: 26px;
}
.blog_post_body img{
    height: 200px!important;
    width: auto!important;
    margin: 8px;
}
@media only screen and (max-width: 900px) {
    .blog_post_body img{
        width: 80vw!important;
        height: auto!important;
    }
}
.blog_post_body a{
    text-decoration: none;
    color: var(--rd);
}
small{
    /* color: azure; */
}

/* 
comments */
.comments{
    padding-left: 4vw;
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    right: 0;
    height: max-content;
    padding-bottom: 140px;
    position: absolute;
}
.comments hr{
    width: 50vw;
    margin: 10px 0px;
    border: 1px solid var(--rd);
}
.comments button{
    padding: 4px 6px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: var(--rd);
    margin: 10px 0;
}
.comments input{
    border: none;
    background-color: black;
    color: var(--rd);
    margin: 10px 0;
    padding: 4px 6px;
}
.comment-user-name-date {
    margin: 10px 0;
}
.comment-user-name-date small{
    margin: 10px 0; 
    padding: 0 0;
    color: gray;
}
.comment-user-name-date span{
    margin-right: 2vw;
}
.comments a{
    color: inherit;
}


/* list form */

    .listform{
        display: flex;
        flex-wrap: wrap;
        background-color: #234d38;
        color: #cabc73d1;
        height: max-content;
        flex-direction: column;
        padding: 40px 4%;
        padding-bottom: 400px;
        align-items: center;
        
    }
    /* .listform-dark-mode{
        color: white;
    } */
    .ck-content{
        width: 80vw;
        
    }
    .listform .authentication,.listform .addlist{
        padding: 4px 12px;
        position: relative;
        border: none;
        outline: none;
        background-color: var(--rd);
        margin: 8px 0;
        font-size: 1rem;
        color: white;
        border-radius: 2px;
        width: 80px;
        transition: all 100ms ease-in-out;
    }
    .listform .authentication:hover,.listform  .addlist:hover{
        background-color: #121212;
    }
    .listform .title-det{
        font-size: 2rem;
        padding: 4px 0;
        /* color: black; */
    }
    .listform .goodwords{
        font-size: 16px;
        padding: 4px 0;
        margin: 8px 0;
        margin-bottom: 14px;
        text-align: center;
    }
    .listform li{
        /* display: none; */
    }
    @media only screen and (max-width: 900px) {
        .listform .goodwords{
            font-size: 10px;
        }
        .listform .title-det{
            font-size: 18px;
        }
    }
    .listform input{
        width: 100%;
        margin: 8px 0;
        padding: 4px 0;
        border: 1px solid rgba(255, 101, 47, .2);
        border-radius: 2px;
        outline: 0;
        border-radius: 2px;
        color: black;
        background-color: white!important;
    }
    .listform select{
        width: 100%;
        padding: 4px 4px;
        margin: 8px 0;
        color: black;
        background-color: white;
        border-radius: 2px;
        border: 1px solid rgba(255, 101, 47, .2);
    }
    




/* comments */
.commentss{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(26, 26, 26);
    /* background-color: #a1480008; */
    font-weight: lighter;
}
.commentss-dark-mode{
    color: rgb(226, 226, 226);
}
.commentscarrier{
    height: max-content;
    width: 92vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;

}
.postcommentscarrier{
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: max-content;
    margin: 10px;
    width: 48%;
    padding-left: 2vw;
}
.commentscarrier hr{
    width: 100%;
    border: 1px solid #ff000021;
    margin: 6px;
}
.comment-contentsas{
    position: relative;
}
.comment-contentsas p{
    margin-left: 12px;
    margin-top: 8px;
}
.comment-contentsas .checked{
    color: rgb(228, 0, 0);
}
.stars-comments{
    position: absolute;
    right: 2px;
}
.stars-post-comments{
    position: absolute;
    cursor: pointer;
}
.stars-post-comments .checked{
    color: rgb(228, 0, 0);
}
.gap{
    width: 100%;
    height: 200px;
}
.postcommentscarrier textarea{
    max-width: 90vw;
    min-height: 80px;
    height: 80px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    color: inherit;
    border: 3px inset #ff000021;
    box-shadow: 4px 4px 6px #0000004b;
    background-color: transparent;
    padding: 6px 6px;
}
.postcommentscarrier button{
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 6px 14px;
    border-radius: 2px;
    color: black;
    background-color: yellowgreen;
    transition: 500ms all ease-in-out;
}
.postcommentscarrier button:hover{
    background-color: dodgerblue;
}
.postcommentscarrier h1{
    margin-bottom: 2px;
    font-weight: lighter;
    font-size: 18px;
}
.comment-head{
    font-size: 22px;
}
.comment-contentsas small{
    color:rgb(99, 99, 99);
    padding: 0 0;
}
.comment-contentsas .like img, .comment-contentsas .dislike img{
    height: 18px;
    cursor: pointer;
    margin-right: 12px;
}
.comment-contentsas .reply-com{
    color:rgb(0, 109, 94);
    cursor: pointer;
}
.comment-contentsas .commentor-name{
    color:rgb(0, 187, 162);
    font-weight: 600;
}
.stars-post-comments .fa{
    cursor: pointer;
}
.fa{
    color: grey;
    filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.493));
}


/* user comments in user edit profile */
.title-com{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: max-content;
    color: black;
    margin-top: 10px;
    margin-bottom: 120px;
    width: 100vw;
    max-width: 100%;
}
.title-com-dark-mode{
    color: white;
}
.title-com .comment-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(30, 143, 255, 0.055);
    margin: 4px 4px;
    width: auto;
    max-width: 96vw;
    border-radius: 4px;
    padding: 12px 12px;
}
.title-com .comment-block .comment-date{
    font-size: 12px;
    font-family: 'Raleway';
    color: rgb(99, 99, 99);
}
.title-com .comment-block .comment-post{
    font-size: 14px;
    margin: 12px 0;
}
.title-com .comment-block .comment-body{
    font-weight: bold;
}
.comment-ratee .stars-comments{
    position: relative;
}
.comment-ratee{
    margin-top: 12px;
}
.comment-ratee .stars-comments .checked{
    color: red;
}


/* alll page csss */
.movie-contain{
    margin-bottom: 0px;
    padding-top: 0px;
}
.book-contain{
    padding-top: 0px;
    margin-bottom: 50px;
}
.music-contain{
    padding-top: 0px;
    margin-bottom: 0px;
}
.headline{
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 4px 4px;
    margin: 4px 0px;
    text-align: center;
    height: max-content!important;
    font-weight: lighter;
    box-shadow: 0px 2px 2px #00000090;
}

.minimize img{
    height: 28px;
    position: absolute;
    right: 6px;
    cursor: pointer;
}
.headline-top{
    background-color: #FFEA04;
}
.headline-top-dark-mode{
  background-color: #FFEA0490;
}
.headline-middle{
    background-color: #FF4500;
}
.headline-middle-dark-mode{
  background-color: #FF450090;
}
.headline-bottom{
    background-color: #AADB1E;
}
.headline-bottom-dark-mode{
  background-color: #AADB1E90;
}

.headline-all{
    color: white;
    font-weight: 100;
}

.headline-top h1{
  color: black;
}
.headline-middle h1{
  color: black;
}
.headline-bottom h1{
  color: black;
}
.main-sec{
  display: grid;
}
.main-sec2{
  display: grid;
}
.main-sec3{
  display: grid;
}
@media only screen and (max-width: 900px) {
  .movie-contain{
    margin-bottom: 0px;
    padding-top: 0px;
}
}

/* list_view_stars */
.star-headline .checked{
    color: #D10000;
}
.star-headline span{
    font-size: 14px;
}
.comments_count{
    height: 16px;
    margin-bottom: -4px;
    margin-left: 4px;
    margin-right: 4px;
}

